body {
	background: linear-gradient(45deg,#0E0619,#1D0C31,#3A1852,#7C397C,#C68275);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
    25%{
        background-position: 0% 25%;
    }
	50% {
		background-position: 100% 50%;
	}
    75%{
        background-position: 0% 75%;
    }
	100% {
		background-position: 0% 50%;
	}
}
