
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color:rgba(1.0000000591389835, 24.000000469386578, 38.0000015348196, 1);
    height: max-content;
}
label{
    color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:500px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.background { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:760px;
	height:926px;
	position:absolute;
	left:440px;
	top:332px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.heading { 
	width:600px;
	height:23px;
	position:absolute;
	left:50px;
	top:16px;
}
.material-symbols-outlined{
    margin-top: 35px;
    margin-left: 5px;
}
.inputbox_1{
    box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:40px;
	position:absolute;
	left:60px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.inputbox_2 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:40px;
	position:absolute;
	left:60px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.inputbox_3 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:251px;
	height:40px;
	position:absolute;
	left:40px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.inputbox_4 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:40px;
	position:absolute;
	left:45px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}

.inputbox_5 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:40px;
	position:absolute;
	left:60px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.inputbox_6 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:251px;
	height:40px;
	position:absolute;
	left:40px;
	top:29px;
	
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.inputbox_7 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:40px;
	position:absolute;
	left:45px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.inputbox_8{ 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	position:absolute;
	left:0px;
	top:29px;
    padding:10px;
    font-family: Roboto;
    font-size:14px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
    display: block;
    min-width: 100%;
    overflow: hidden;
    resize: both;
    height: 242px;
    line-height: 20px;
}
.inputbox_9 { 
	color:rgba(255, 255, 255, 1);
	
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
    width:382px;
	height:40px;
	position:absolute;
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    background-color:rgba(140.00000685453415, 38.0000015348196, 86.00000247359276, 1);
}
.submitbutton { 
	box-shadow:0px 4px 18px rgba(140.00000685453415, 38.0000015348196, 86.00000247359276, 0.3499999940395355);
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    width:382px;
	height:40px;
	position:absolute;
	left:185px;
	top:823px;
}
.inputfield3 { 
	width:250px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
}
.inputfield4 { 
	width:349px;
	height:69px;
	position:absolute;
	left:310px;
	top:0px;
}
.inputfield5{ 
	width:660px;
	height:69px;
	position:absolute;
	left:50px;
	top:342px;
}
.inputfield6 { 
	width:294px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
}
.inputfield7 { 
	width:350px;
	height:69px;
	position:absolute;
	left:310px;
	top:0px;
}
.inputfield8 {	
	width:600px;
	height:271px;
	position:absolute;
	left:50px;
	top:528px;
}

.inputbox_8[contenteditable]:empty::before {
    content: "Please provide the job description you are looking for.";
    color: gray;
  }
.e3_46 { 
	background-color:rgba(1.0000000591389835, 24.000000469386578, 38.0000015348196, 1);

	position:absolute;
}


.e3_5 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:71px;
	height:23px;
	position:absolute;
	left:264.5px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.inputfield1 { 
	width:660px;
	height:69px;
	position:absolute;
	left:50px;
	top:63px;
}
.e3_7 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:115px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e3_8 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:40px;
	position:absolute;
	left:0px;
	top:29px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_8 { 
	border:1px solid rgba(226.0999971628189, 230.06666511297226, 238.00000101327896, 1);
}
.ei3_8_1_266 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:576px;
	height:19px;
	position:absolute;
	left:12px;
	top:10.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.inputfield2 { 
	width:660px;
	height:69px;
	position:absolute;
	left:50px;
	top:156px;
}
.e102_23 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:218px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.ei102_24_1_266 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:576px;
	height:19px;
	position:absolute;
	left:12px;
	top:10.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e102_36 { 
	width:660px;
	height:69px;
	position:absolute;
	left:50px;
	top:249px;
}

.e102_38 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:104px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.ei102_39_1_266 { 
	color:rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 1);
	width:227px;
	height:19px;
	position:absolute;
	left:12px;
	top:10.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e102_40 { 
	width:349px;
	height:69px;
	position:absolute;
	left:251px;
	top:0px;
}
.e102_41 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:57px;
	height:19px;
	position:absolute;
	left:45px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.ei102_42_1_266 { 
	color:rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 1);
	width:280px;
	height:19px;
	position:absolute;
	left:12px;
	top:10.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.e102_30 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:58px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.ei102_31_1_266 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:576px;
	height:19px;
	position:absolute;
	left:12px;
	top:10.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e3_12 { 
	width:660px;
	height:69px;
	position:absolute;
	left:50px;
	top:435px;
}
.e3_13 { 
	width:294px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_14 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e3_15 { 
	box-shadow:0px 4px 18px rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:294px;
	height:40px;
	position:absolute;
	left:0px;
	top:29px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_15 { 
	border:1px solid rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 1);
}

.e3_17 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:35px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

.ei3_18_1_266 { 
	color:rgba(158.00000578165054, 168.0000051856041, 189.00000393390656, 1);
	width:246px;
	height:19px;
	position:absolute;
	left:12px;
	top:10.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei3_18_1_339 { 
	width:14px;
	height:14px;
	position:absolute;
	left:268px;
	top:13px;
}
.ei3_18_1_341 { 
	position:absolute;
	left:7px;
	top:7px;
}
.ei3_18_1_342 { 
	width:0.005833625793457031px;
	height:0px;
	position:absolute;
	left:7px;
	top:4.6666669845581055px;
}

.e3_20 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:112px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}




.e3_25 { 
	color:rgba(3.000000058673322, 1.0000000591389835, 2.000000118277967, 1);
	width:310px;
	height:14px;
	position:absolute;
	left:10%;
	top:48px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
